.side-news
	position relative
	margin-right 50px
	padding 12px 30px 0
	float left
	width 340px
	min-height 400px
	background-color #fff
	border 1px solid #cfd4bf
	&__title
		margin-bottom 23px
		font-size 18px
		font-weight 700
		color #424646
		text-transform uppercase
		text-align center
		// letter-spacing tracking(5)
	&__list
		margin-bottom 77px
	&__item
		margin-bottom 20px
	&__item-date
		margin-bottom 4px
		color #424646
	&__item-title
		text-decoration underline
		color #4d8dd4
		&:hover
			text-decoration none
	&__bottom
		position absolute
		bottom 0
		left 0
		width 100%
		text-align center
	&__all
		margin-top 40px
		padding 12px 70px 13px 63px
		display inline-block
		background #A1DF21
		font-weight 700
		line-height 1
		color $color-white
		text-transform uppercase
		text-decoration none
		border-radius 40px 40px 0 0
		&:hover
			background darken(#A1DF21, 10)

