.buttons
	&__w
		font-size 0

.button
	border none
	outline none
	padding 10px 10px
	display inline-block
	vertical-align top
	min-height 20px
	font-size 14px
	font-weight 700
	line-height 1
	text-decoration none
	text-transform uppercase
	border-radius 40px 40px
	transition all .1s $ease-out-sine
	&_default
		padding 10px 23px
		background $color-salat
		color #424646
		&:hover
			background darken($color-salat, 10)
	&_style-second
		padding 12px 36px
		background-color #8e64cc
		color $color-white
		font-size 18px
		&:hover
			background darken(#8e64cc, 10)

	// &_style-third
	// 	background $button-bg-small
	// 	color $button-text-small
	// 	&:hover
	// 		background darken($button-bg-small, 20)

	// &_style-four




