.breadcrumbs
	margin-left 33px
	margin-bottom 16px
	&__list
		font-size 0
		clearfix()
	&__item
		display inline-block
		vertical-align top
		font-size 12px
		font-weight 400
		a
			padding-right 4px
			padding-left 4px
			color #28acbc
			text-decoration underline
			&:hover
				text-decoration none
		&:first-child
			a
				padding-left 0
		strong,
		span
			padding-left 4px
			color #424646
			text-decoration none
			text-transform uppercase

