.catalog
	&__w
		padding-bottom 14px
		font-size 0
		clearfix()

	&__description
		margin-bottom 58px
		padding-right 98px
		padding-left 33px
	&__desc-link
		text-decoration underline
		color #28acbc
		&:hover
			text-decoration none
	&__desc-phone
		font-weight 700
		color #5c5c5c
		text-decoration none
