mixin subscribe()
	+b.subscribe&attributes(attributes)
		+e.in
			+e.col
				+e('h2').title подпишитесь на новости!
				+e('p').text Узнавайте о поступлениях новых товаров,<br/> проводимых акциях, получайте скидки и бонусы!
			+e.col
				+e('form').form(method='get' action='#')
					+e('input').input(type='email' value='' placeholder='Введите Ваш email' )
					+e('input').submit.button_style-four(type='submit' value='ОТПРАВИТЬ')


