.in
	margin auto
	// padding-left 15px
	// padding-right 15px
	width 1024px

.page
	min-width 1024px
	background $color-gray
	color #5c5c5c
// .page-row
	// clearfix()

.page-row
	&__in
		@extend .in
		clearfix()

	&_top
		padding-bottom 55px

	&_subscribe
		margin-bottom 58px

	&_subscribe-inner
		margin-bottom 24px


.row-title
	position relative
	margin-bottom 30px
	color #424646
	font-size 18px
	font-weight 700
	text-transform uppercase
	&:before
		position absolute
		top 0
		left 0
		content ""
		sprite($title_icon)
		z-index 2
	&:after
		position absolute
		top 50%
		left 0
		content ""
		margin-top -1px
		width 100%
		border-top 2px dotted #a8adae
	span
		position relative
		display inline-block
		vertical-align top
		padding-right 45px
		padding-left 33px
		background #E9E9E9
		z-index 1

	&_style-second
		border-bottom 2px dotted #a8adae
		margin-left 33px
		margin-bottom 15px
		padding-bottom 5px
		span
			padding-left 0
		&:before
			left -33px
		&:after
			display none



.wysiwyg
	h2
		margin-left 33px
		margin-bottom 20px
		font-size 14px
		font-weight 700
	h3
		margin-left 33px
		margin-bottom 20px
		font-size 14px
		font-weight 700
	p
		margin-bottom 20px

	ul
		margin-bottom 20px
		margin-left 33px
		list-style disc outside
	li
		display list-item

	ol
		margin-bottom 20px
		margin-left 33px
		list-style decimal inside

