
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri/hinted-subset-Calibri.woff2') format('woff2'),
		 url('../fonts/calibri/hinted-subset-Calibri.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri/hinted-subset-Calibri-Italic.woff2') format('woff2'),
		 url('../fonts/calibri/hinted-subset-Calibri-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri/hinted-subset-Calibri-BoldItalic.woff2') format('woff2'),
		 url('../fonts/calibri/hinted-subset-Calibri-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri/hinted-subset-Calibri-Bold.woff2') format('woff2'),
		 url('../fonts/calibri/hinted-subset-Calibri-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


$calibri =  'Calibri', Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;

