
@font-face {
	font-family: 'Calibri';
	src: local('Calibri'),
		url('../fonts/calibri/hinted-subset-Calibri.woff2') format('woff2'),
		url('../fonts/calibri/hinted-subset-Calibri.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: local('Calibri Italic'), local('Calibri-Italic'),
		url('../fonts/calibri/hinted-subset-Calibri-Italic.woff2') format('woff2'),
		url('../fonts/calibri/hinted-subset-Calibri-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'),
		url('../fonts/calibri/hinted-subset-Calibri-BoldItalic.woff2') format('woff2'),
		url('../fonts/calibri/hinted-subset-Calibri-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri';
	src: local('Calibri Bold'), local('Calibri-Bold'),
		url('../fonts/calibri/hinted-subset-Calibri-Bold.woff2') format('woff2'),
		url('../fonts/calibri/hinted-subset-Calibri-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


$calibri =  'Calibri', Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;

