extends /blocks/layout-default/layout-default

include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/main/main
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/product-card/product-card

include ../blocks/spinner/spinner

include ../blocks/footer/footer


block head
	- var pageTitle = 'healphy.ru - Отруби кларус овсяные с пшеничной клетчаткой';

block content
	+header()
	+main()._inner
		+b.page-row
			+e.in
				+breadcrumbs()
					+e('ul').list
						+e('li').item
							+e('a').link(href='#link') Главная
							| -
						+e('li').item
							+e('a').link(href='#link') Каталог
							| -
						+e('li').item
							+e('a').link(href='#link') CLARUS
							| -
						+e('li').item
							+e('strong').link(href='#link') Отруби кларус овсяные с пшеничной клетчаткой пакет 300г
		+b.page-row
			+e.in
				+product-card()
					+b('h2').row-title._style-second <span>Отруби кларус овсяные с пшеничной клетчаткой</span>
					+e.top
						+e.image
							+e('img')(src='assets/images/content/product-image.jpg' alt='product image')

						+e('p').text Благодаря сочетанию уникальных качеств овсяных отрубей и свойства пшеничной клетчатки - обильно впитывать влагу и выводить из организма шлаки и токсины. Способствует снижению веса, укрепляет иммунитет, снижает уровень сахара и холестерина в крови.

						+e('ul').details
							+e('li').item
								+e('span') ПРОИЗВОДИТЕЛЬ:
								| CLARUS
							+e('li').item
								+e('span') АРТИКУЛ:
								| 445246-10W
							+e('li').item
								+e('span') ВЕС:
								| 300 гр.

						+e.price
							+e('span') ЦЕНА:
							| 80 руб.

						+e.quant
							+e('span').quant-title КОЛИЧЕСТВО:
							+spinner()


						+e.amount
							+e('span') ИТОГО:
							| 1840 руб.

						+e('a').button.button_style-third(href='#link') В корзину!


					+e.desc
						+b('h2').row-title <span>Описание товара</span>


						+e('p').text Являются продуктом повышенной физиологической ценности.<br/> Овсяные Отруби КЛАРУС БЕСТ 80% + Пшеничная клетчатка 20% - добавляет ему ряд преимуществ. Во-первых, в его составе больше нерастворимых пищевых волокон, которые необходимы тем, кто желает очистить свой организм от ненужных отложений и шлаков, улучшить проходимость кишечника и освободиться от  запоров.  Другой важный момент – наличие полисахаридов овсяных отрубей, которые блокируют усваивание простых сахаров и попадание в кровь вредного холестерина. Наряду с этими преимуществами этот продукт несёт в себе такие уникальные свойства -  как укрепление иммунитета. В Овсяных Отрубях КЛАРУС БЕСТ+ Пшеничная клетчатка – присутствует больше Калия [К], Кальция [Са], Магния [Mg], Фосфора [P] и Железа [Fe]. Овсяные Отруби КЛАРУС БЕСТ + Пшеничная клетчатка содержит 19.52 г белка, 6.38 г  жира, 38.6 г, углеводов и 21.58 г растворимых и нерастворимых пищевых волокон. Энергетическая ценность 100 г этого продукта 229.8 ккал.

						+e('h3') Биологический состав:

						+e('p').text В составе Овсяных Отрубей КЛАРУС – 80% плодовые и семенные оболочки ядра продовольственного овса + алейроновый слой и 20% оболочки пшеницы, тщательно очищенные от эндосперма:

						+e('ul').list._unordr
							+e('li').item нерастворимая клетчатка овса и пшеницы – пищевые волокна;
							+e('li').item редкий вид растворимой клетчатки – 1.3 и 1.4 ? – глюканы;
							+e('li').item овсяный и пшеничный белок, в составе которого - 12 незаменимых аминокислот, включая триптофан;
							+e('li').item 2-е незаменимые жирные кислоты, относящиеся к классам растительных жиров Омега-3 и Омега-6;
							+e('li').item 10 макро и микроэлементов, из них эссенциальные (жизненно-важные):  Железо [Fe], Медь [Сu], Цинк [Zn], Селен [Se], Марганец [Mn].
							+e('li').item 9 витаминов группы В, К, РР, Е, играющих важную роль в жизнедеятельности организма

						+e('h3') Отличия от аналогов:

						+e('p').text Уникальная технология изготовления овсяных отрубей позволяет освободить оболочки овсяного ядра от муки и лузги, а технология изготовления пшеничной клетчатки – оставить только внешние оболочки пшеницы - позволяет сохранить в продукте всё полезное, не затронув его натуральности.

						+e('p').text
							+e('b') Овсяные отруби КЛАРУС БЕСТ с Пшеничной клетчаткой отвечает всем требованиям для  идентификации их как натурального продукта:

						+e('ol').list._ordr
							+e('li').item Происхождение. Сырьё для этого продукта выращено на Алтае – регионе, являющимся одним из самых чистых на планете;
							+e('li').item Цвет. Оболочки светлых и тёмных оттенков, от жёлтого, до тёмно-коричневого.
							+e('li').item Запах. Свежий, свойственный овсяному ядру и оболочкам пшеницы.
							+e('li').item Вкус. Свойственный овсяному ядру, с лёгкой пикантной горчинкой и присутствием вкуса пшеничного хлеба  – подтверждение тому, что овёс при переработке не подвергался пропариванию, а при изготовлении пшеничной клетчатки применялось только воздействие водой.
							+e('li').item Потребительские свойства и применение продукта:

						+e('p').text Высокая природной концентрация 1.3 и 1.4 ? – глюканов, обладающих пребиотическими свойствами в сочетании с пшеничной клетчаткой ставит этот продукт в разряд продуктов повышенной физиологической ценности.

						+e('h3') Рекомендуемое применение:

						+e('p').text в качестве добавки, сухие завтраки, выпечку, в первые и вторые блюда, соки и напитки и т.д. Бета-глюканы выдерживают повышение температуры до 200оС.

						+e('h3') Упаковка и хранение:

						+e('p').text Овсяные отруби КЛАРУС БЕСТ с Пшеничной клетчаткой упакованы в потребительскую тару, изготовленную из бумаги. Такая упаковка создаёт благоприятные условия для хранения продукта при комнатной температуре и предохраняет продукт от попадания света.

						+e('p').text Срок хранения в оригинальной упаковке производителя:  12 месяцев.



	+footer()

