extends /blocks/layout-default/layout-default

include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/main/main
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/catalog/catalog
include ../blocks/spinner/spinner
include ../blocks/pagination/pagination

include ../blocks/subscribe/subscribe
include ../blocks/seo-text/seo-text
include ../blocks/footer/footer


block head
	- var pageTitle = 'healphy.ru - каталог продукции clarus';

block content
	+header()
	+main()._inner
		+b.page-row
			+e.in
				+breadcrumbs()
					+e('ul').list
						+e('li').item
							+e('a').link(href='#link') Главная
							| -
						+e('li').item
							+e('a').link(href='#link') Каталог
							| -
						+e('li').item
							+e('strong').link(href='#link') CLARUS
		+b.page-row
			+e.in
				+catalog()
					+b('h2').row-title._style-second <span>каталог продукции clarus</span>

					+e('p').description._style-second Премиальные продукты из экологически чистого овса и других злаков, выращенных на Алтае, по собственной уникальной и не имеющей аналогов в мире<br/> технологии Овёс и другие злаки для продуктов КЛАРУС выращиваются фермерами из семян не содержащих ГМО на обширных Алтайских просторах, без применения агрессивных удобрений. Результатами независимых исследований отмечено, что все продукты КЛАРУС отличаются идеальной чистотой и высокой степенью безопасности для потребителя.

					+e.w._style-second
						+b.product-item._style-second
							+e('a').title(href='#link') БЕСТ, овсяные хлопья нат..

							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-1.jpg' alt='product')
							+e.w
								+e.price 450 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

						+b.product-item._style-second
							+e('a').title(href='#link') CLARUS, хлопья овсяные диетические 150 гр.
							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-2.jpg' alt='product')
							+e.w
								+e.price 85 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

						+b.product-item._style-second
							+e('a').title(href='#link') Отруби овсяные с пшенич..
							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-3.jpg' alt='product')
							+e.w
								+e.price 85 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

						+b.product-item._style-second
							+e('a').title(href='#link') Хлопья диетические овсян..
							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-4.jpg' alt='product')
							+e.w
								+e.price 85 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

						+b.product-item._style-second
							+e('a').title(href='#link') Хлопья БЕСТ, CLARUS
							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-1.jpg' alt='product')
							+e.w
								+e.price 85 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

						+b.product-item._style-second
							+e('a').title(href='#link') CLARUS ХЛОПЬЯ ОВСЯНЫЕ
							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-2.jpg' alt='product')
							+e.w
								+e.price 85 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

						+b.product-item._style-second
							+e('a').title(href='#link') Отруби пшеничные для по..

							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-3.jpg' alt='product')
							+e.w
								+e.price 85 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

						+b.product-item._style-second
							+e('a').title(href='#link') Clarus отруби инновация..
							+e.image
								+e('a')(href='#link')
									+e('img')(src='assets/images/content/product-4.jpg' alt='product')
							+e.w
								+e.price 85 руб.
								+e.spinner
									+spinner()
							+e('a').button.button_style-third(href='#link') В корзину!

					+pagination
						+e('p').info Страница 2 из 10
						+e('ul').list
							+e('li').item._back
								+e('a').link(href='#link') &lt;
							+e('li').item
								+e('a').link(href='#link') 1
							+e('li').item._active
								+e('a').link(href='#link') 2
							+e('li').item
								+e('a').link(href='#link') 3
							+e('li').item
								+e('span').dots ...
							+e('li').item
								+e('a').link(href='#link') 9
							+e('li').item
								+e('a').link(href='#link') 10
							+e('li').item._next
								+e('a').link(href='#link') &gt;


		+b.page-row._subscribe._subscribe-inner
			+subscribe()

		+b.page-row
			+e.in
				+seo-text()
					+b('h2').row-title <span>текст для продвижения сайта</span>

					+e('p').text В конце 2009 года мы задумали наш первый клуб Здорового образа жизни, снижения веса и восстановления здоровья как место, куда смогут приходить наши близкие и мы сами, чтоб говорить о здоровье, обмениваться полезной информацией и поддерживать друг друга.

					+e('p').text Мы стали проводить первые мастер-классы и групповые занятия, обсуждать снижение веса, собирать по крупицам знания, изучать диеты и правильное питание. Получать великолепные результаты по коррекции фигуры.

					+e('p').text В клубе получено много результатов по снижению веса, восстановлению здоровья детей и взрослых. Мы собрали уникальную базу знаний о правильном питании,  диетах и здоровом образе жизни. Сегодня мы приглашаем вас стать частью этого сообщества. Как член клуба, как гость или как наш коллега. Мы постоянно ищем таланты! У нас можно, как минимум, похудеть, и, как максимум, — восстановить обмен веществ и научиться правильно питаться.

					+e('p').text Правильное питание, отличное самочувствие, великолепная фигура, здоровое тело — это то, что ждёт вас.Мы стали проводить первые мастер-классы и групповые занятия, обсуждать снижение веса, собирать по крупицам знания, изучать диеты и правильное питание. Получать <a href='#link'>великолепные результаты</a> по коррекции фигуры.

					+e('p').text Мы собрали уникальную базу знаний о правильном питании, диетах и здоровом образе жизни.


	+footer()

