// .page-main__banner

.banner
	position relative
	border 1px solid #cfd4bf
	padding 19px 40px 30px 50px
	float left
	width 634px
	min-height 256px
	background-color #fff
	clearfix()
	&__image
		float left
		width 254px
		height 184px
		img
			display block
			max-width 100%
			height auto
	&__desc
		margin-left 312px
		padding-top 66px
	&__title
		margin-bottom 10px
		font-weight 400
		color #29acbc
	&__quantity
		margin-bottom 4px
		font-size 18px
		font-weight 700
		color #404c4d
		line-height 1
		text-transform uppercase
		color #404c4d
	&__price
		font-size 18px
		font-weight 700
		color #404c4d
		text-transform uppercase
	&__price-old
		padding-left 5px
		text-decoration line-through
	&__price-current
		color #28acbc
	&__button
		position absolute
		bottom 30px
		left 164px
	&__label
		position absolute
		top 3px
		right 3px
		padding 5px 22px 20px 31px
		background #A1DF21
		font-size 36px
		font-weight 700
		font-style italic
		line-height 1
		color $color-white
		border-radius 0 0 0 40px

