mixin news()
	+b.news&attributes(attributes)
		//- block
		+b('h2').row-title._style-second <span>новости философии здоровья</span>

		+e.w
			+e.item
				+e.item-image
					+e('img')(src='assets/images/content/article-img-1.jpg' alt='article image')
				+e.top
					+e('span').item-date 18.05.2016
					+e('a').item-title(href='#link') Подборка уникальных рецептов блюд с отрубями - Диетическое питание

				+e('p').item-text Приготовить домашний хлеб сегодня не проблема, особенно, если есть у вас такой современный агрегат, как<br/> хлебопечка. Всего-то хлопот – сложить в одну чашу все необходимые продукты. Мы будем готовить не обычный<br/> хлеб, а хлеб с отрубями. Добавлять отруби в пищу, и в выпечку в том числе, - значит, делать нашу еду еще более<br/> полезной. И чуть ниже мы остановимся на этом более подробно. А сейчас – немного о нашем главном<br/> помощнике.

				+e('a').button.button_style-five(href='#read') Читать

			+e.item
				+e.item-image
					+e('img')(src='assets/images/content/article-img-2.jpg' alt='article image')
				+e.top
					+e('span').item-date 26.06.2016
					+e('a').item-title(href='#link') Мед в косметологии и медицине. Покупка и хранение меда

				+e('p').item-text Мед является одним из самых древних натуральных подсластителей, известных человеку. При этом он не только вкусен, но еще и очень полезен для нашего здоровья. В настоящее время мед широко применяется в косметологии, медицине и кулинарии. Мед в косметологии применяют в составе масок для лица и рук. Эти маски служат для предотвращения морщин, очищения, увлажнения и омоложения кожи.

				+e('a').button.button_style-five(href='#read') Читать

			+e.item
				+e.item-image
					+e('img')(src='assets/images/content/article-img-1.jpg' alt='article image')
				+e.top
					+e('span').item-date 18.05.2016
					+e('a').item-title(href='#link') Подборка уникальных рецептов блюд с отрубями - Диетическое питание

				+e('p').item-text Приготовить домашний хлеб сегодня не проблема, особенно, если есть у вас такой современный агрегат, как<br/> хлебопечка. Всего-то хлопот – сложить в одну чашу все необходимые продукты. Мы будем готовить не обычный<br/> хлеб, а хлеб с отрубями. Добавлять отруби в пищу, и в выпечку в том числе, - значит, делать нашу еду еще более<br/> полезной. И чуть ниже мы остановимся на этом более подробно. А сейчас – немного о нашем главном<br/> помощнике.

				+e('a').button.button_style-five(href='#read') Читать

			+e.item
				+e.item-image
					+e('img')(src='assets/images/content/article-img-2.jpg' alt='article image')
				+e.top
					+e('span').item-date 26.06.2016
					+e('a').item-title(href='#link') Мед в косметологии и медицине. Покупка и хранение меда

				+e('p').item-text Мед является одним из самых древних натуральных подсластителей, известных человеку. При этом он не только вкусен, но еще и очень полезен для нашего здоровья. В настоящее время мед широко применяется в косметологии, медицине и кулинарии. Мед в косметологии применяют в составе масок для лица и рук. Эти маски служат для предотвращения морщин, очищения, увлажнения и омоложения кожи.

				+e('a').button.button_style-five(href='#read') Читать

