.spinner
	display inline-block
	vertical-align top
	font-size 0
	&__input
		border none
		// padding 10px
		display inline-block
		vertical-align top
		width 30px
		height 20px
		font-family $calibri
		font-size 18px
		font-weight 400
		color #424646
	&__buttons
		position relative
		display inline-block
		vertical-align top
		font-size 20px
		text-align center
		z-index 1
	&__button
		display block
		width 20px
		height 20px
		background #ccc
		cursor pointer
		user-select none

	// &__button_up

	// &__button_down

