.articles
	&__w
		padding-bottom 50px
		font-size 0
		clearfix()


.article
	margin-right 24px
	padding-left 32px
	display inline-block
	vertical-align top
	width 316px
	&:last-child
		margin-right 0
	&__title
		margin-bottom 10px
		display block
		font-size 14px
		font-weight 400
		text-decoration underline
		color #4d8dd4
		&:hover
			text-decoration none
	&__text
		font-size 14px
		color #424646


