.page-main
	&__welcome
		float left
		width 634px
.welcome
	margin-bottom 20px
	&__title
		border-bottom 2px dotted #a8adae
		margin-bottom 18px
		padding-bottom 9px
		font-size 18px
		font-weight 700
		color #424646
		text-transform uppercase
	&__text
		font-size 14px
		font-weight 400
		color #5c5c5c
		a
			color #28acbc
			&:hover
				text-decoration none
		span
			text-transform uppercase
			font-weight 700

