.catalog-item
	border 1px solid #cfd4bf
	margin-right 26px
	margin-bottom 42px
	padding 18px 10px
	display inline-block
	vertical-align top
	width 236px
	min-height 336px
	background-color #fff
	text-align center
	&:nth-child(4n)
		margin-right 0
	&:hover
		border 1px solid $color-salat
	&__title
		display block
		height 64px
		font-size 18px
		font-weight 700
		line-height 22px
		text-decoration underline
		text-align center
		color #4d8dd4
		&:hover
			text-decoration none
	&__image
		margin-bottom 42px
		height 126px
		text-align center
		img
			max-width 100%
			height auto
	&__text
		font-size 12px
		font-style italic
		text-align center
		color #424646
